<!-- This is 'home.ejs' File of Connect - The Home Page -->

<%- include('partials/layout') -%> 

    <%- include('partials/header') -%>

    <section id="banner">

        <div id="first" class="odd">
            <div class="left">
                <h2><span>Aatmanirbhar</span><br>Empowering Self-Reliance</h2>
                <div id="mobile">
                    <video src="/images/Video.webm" loop autoplay muted></video>
                </div>
                <p>
                    A universally accessible and free video conferencing application enabling individuals with disabilities to participate in virtual meetings on an equal footing with their peers
                    <br><br>
                    Practical and pertinent interfaces bringing Augmentative and Alternative Communication (AAC) to video conferencing, enabling people with disabilities to connect and speak with those who are important to them
                </p>
                <div class="options">
                    <a href="/createRoom"><button type="button" id="createRoom" class="btn btn-success" style="margin: 10px 0">Create Room</button></a>
                    <a href="/joinRoom"><button type="button" id="joinRoom" class="btn btn-primary">Join Room</button></a>
                </div>
            </div>
            <div class="right">
                <video src="/images/Video.webm" loop autoplay muted></video>
            </div>
        </div>

        <div class="title">
            <p>Explore our modes for Disable people</p>
            <a href="#second"><i class="fas fa-caret-down"></i></a>

        </div>

        <div id="second" class="even">
            <div class="left">
                <img src="/images/mode-one.jpg" alt="">
            </div>
            <div class="right">
                <h2>Mode 1 - Avaz</h2>
                <p>
                    Voice based assistance support to the individuals who are unable to use conventional input devices like a keyboard and mouse 
                    <br><br>
                    Voice based commands by the individuals to interact with the video chat interface and get voice-based feedback and perform actions over the web application
                </p>
            </div>
        </div>

        <div id="third" class="odd">
            <div class="left">
                <h2>Mode 2 - Sparsh</h2>
                <p>
                    Pictorial clickable tiles based interface for people suffering from Autistic Spectrum Disorder 
                    <br><br>
                    Pictorial word & phrase selection-based layout to help autistic users build and convey sentences to be communicated to the recipient via text to speech
            </div>
            <div class="right">
                <img src="/images/mode-two.jpg" alt="">
            </div>
        </div>

        <div id="fourth" class="even">
            <div class="left">
                <img src="/images/mode-three.png" alt="">
            </div>
            <div class="right">
                <h2>Mode 3 - Netra</h2>
                <p>
                    Eye gaze based interaction of the individual suffering from Severe Physical Disability or Locked in Syndrome over the website
                    <br><br>
                    The user’s gaze location on the screen will be tracked using the webcam and accordingly, the mouse cursor will be positioned

                </p>
            </div>
        </div>

        <div id="third" class="odd">
            <div class="left">
                <h2>Mode 4 - Eshaare</h2>
                <p>
                    Communication Assistant for people who are suffering from Deafness / Muteness using Sign Language
                    <br><br>
                    Trained models intercepting the feed of the user from webcam and converting Sign-language to human spoken langugaes 
            </div>
            <div class="right">
                <img src="/images/mode-four.jpg" alt="">
            </div>
        </div>

    </section>

    <%- include('partials/footer') -%>