
<button type="button" id="command-modal-button" hidden data-toggle="modal" data-target="#command-modal"></button>

  <!-- Bootstrap Modal having Meeting Info -->
  <div class="modal fade" id="command-modal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="p-5">

                    <h5>Click on Create</h5>
                    <h5>Create Room</h5>
                    <h5>Enter Name  "Your name" </h5>
                    <h5>Enter</h5>
                    <h5>Click on Create</h5>
                    <h5>Click on Create</h5>

                </div>
            </div>
        </div>
    </div>
</div>